*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 15px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
    width: 85%;
    padding: 70px;
    box-shadow: 7px 7px 14px #bebebe,
        -7px -7px 14px #cccccc;
}

.container__card{
    width: 300px;
    height: auto;
    font-family: 'Outfit', sans-serif;
    border-radius: 5px;
    padding: 15px 15px;
    background-color:hsl(0, 0%, 100%);
    text-align: center;
    border-radius: 15px;
    background: hsl(0, 0%, 100%);
    box-shadow: 7px 7px 14px #bebebe,
        -7px -7px 14px #dbdbdb;
}

.card__img{
    max-width: 100%;
        border-radius: 15px;
}

.container__card > h2{
    font-weight: 700;
    font-size: 15px;
    padding: 15px 7px 10px 7px;
    color: hsl(218, 44%, 22%);
}

.container__card > p{
    font-weight: 400;
    font-size:15px;
    padding: 8px 7px 15px 8px;
    color: hsl(220, 15%, 55%);
}


@media screen and  (max-width: 1440px){
    .container{
        width: 100%;
        padding: 0px;
        height: 100vh;
    }
}
